# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Doodle Jam.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mysha\Documents\Unity Projects\Doodle Jam\.idea\.idea.Doodle Jam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
